* {
    font-family: FiraSans Nerd Font Regular;
    font-size: 10px;
    color: #d4be98;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    padding: 0px 0px;
    color: #d4be98;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: transparent;
    border-bottom: 1px solid #a6e3a1;
    border-radius: 2px;
}

#workspaces button.urgent {
    background-color: rgba(243, 139, 168, 0.2);
}

#clock,
#custom-power,
#battery,
#memory,
#temperature,
#backlight,
#network,
#language,
#pulseaudio,
#tray {
    padding-right: 7px;
    background-color: transparent;
}

#pulseaudio {
    color: #fab387;
}

#custom-power {
    color: #f38ba8;
}

#battery {
    color: #a6e3a1;
}

#custom-void-linux {
    padding: 0 0px;
    color: #a6e3a1;
}

#temperature {
    color: #eba0ac;
}

#backlight {
    color: #f9e2af;
}

#clock {
    color: #b4befe;
}

#language {
    color: #cba6f7;
}

#workspaces {
    margin: 0 0px;
}

#scratchpad{
    background: rgba(69, 71, 90, 0);
}

#scratchpad.empty {
	background-color: transparent;
}
.modules-left{
  background-color:#3c3836;
  border-radius:8px;
  padding-left:5px;
  padding-right:5px;
  margin:3px;
}
.modules-right{
  background-color:#3c3836;
  border-radius:8px;
  padding-left:0px;
  margin:3px;
}
#window{
  background-color:#3c3836;
  border-radius:8px;
  padding-left:5px;
  padding-right:5px;
  margin:3px;
}
window#waybar.empty #window{
  background-color:transparent;
  padding-left:0px;
  padding-right:0px;
}
