[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/napca/dsk/Half-Life 2.desktop]
row=3
col=1

[/home/napca/dsk/Half-Life Source.desktop]
row=4
col=1

[/home/napca/dsk/trash-can.desktop]
row=3
col=0

[/home/napca/dsk/user-home.desktop]
row=0
col=1

[/home/napca/dsk/Half-Life 2 - Episode 2.desktop]
row=2
col=1

[/home/napca/dsk/Half-Life 2 - Episode 1.desktop]
row=1
col=1

[/home/napca/dsk/network.desktop]
row=4
col=0

[/home/napca/dsk/computer.desktop]
row=5
col=0

[5C16-C649]
row=5
col=1

[21 GB Volume]
row=0
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/napca]
row=2
col=0

