[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/napca/dsk/Half-Life 2 - Episode 1.desktop]
row=3
col=0

[/home/napca/dsk/Half-Life 2 - Episode 2.desktop]
row=4
col=0

[/home/napca/dsk/Half-Life 2.desktop]
row=5
col=0

[/home/napca/dsk/Half-Life Source.desktop]
row=0
col=0

[Trash]
row=0
col=1

[/]
row=1
col=0

[/home/napca]
row=2
col=0

